<div id="app"></div>

<!-- <div class="image-address-form">
  <h1>Enter Local Image Address</h1>
  <%= form_for @screenshot do |f| %>
    <%= f.file_field :draft_photo %>
    
    <%= f.submit %>
  <% end %>
</div> -->
